* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FC4F00;
    color: white;
    padding: 40px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 {
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


article {
    margin: 10px;
}

article h2 {
    font-size: 20px;
}

article p {
    text-align: center;
    color: gray;
}

img {
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

.section2 {
    display: flex;
}

.div1 {
    border-right: solid 2px gray;
    padding: 20px;
}

.icono {
    width: 50px;
    float: left;
    margin-right: 15px;
    text-align: center;
    background-color: #FC4F00;
    padding: 10px;
    border-radius: 10px;
}

.articulo article {
    display: flex;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 15px;
}